OpenPlayer/Pods
OpenPlayer/Podfile.lock
OpenPlayer/dlib/
OpenPlayer/OpenPlayer.xcodeproj/Project.xcworkspace/
OpenPlayer/OpenPlayer.xcodeproj/xcuserdata/
OpenPlayer/OpenPlayer.xcworkspace/
OpenPlayer/OpenPlayer/Frameworks/opencv2.framework 
